
#toggleIcon {
  float: left;
  color: var(--text-color);
  margin-top: 5px;
}

#menu {
  background-color: var(--bgd-color);
}

.menutext {
  margin-left: 10px;
  margin-top: 3px;
  float: right;
  color: var(--text-color);
}

#headline {
  margin-top: 20px;
  color: var(--text-color);
  font-weight: bold;
  font-size: xx-large;
}

.material-icons {
  font-size: 30px;
}
.material-icons.md-light { color: rgba(255, 255, 255, 1); }

a {
  color: var(--text-color);
  text-decoration: none;
}

   

#searchbar::after{
  content: "";
  display: table;
  clear: both;
}
   


/* SECTION #1
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  #top-banner {
    color: var(--text-color);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--bgd-color);
    margin-top: 30px;
    padding-top: 30px;
  }
  
  
  input {
    border: none;
    background: none;
    outline: none;
    font-size: 1.5rem;
    
  }
  
  #top-banner form input::placeholder {
    color: var(--text-color); 
  }

  .searchbar {
    caret-color: var(--text-color);
    color: var(--text-color);
    float: left;
    height: 40px;
    border-bottom: 1px solid;
  }


  #submit {
    color: var(--text-color);
  }

  #textinput {
    color: var(--text-color);
  }

  .searchbutton {
    float: left;
    margin-left: 10px;
    border: 1px solid;
    border-radius: 5px;
  }



  @media screen and (max-width: 770px) {
    .searchbar{
      width: 100%;
    }
    .searchbutton{
      width: 100%;
      margin-top: 10px;
      margin-left: 0px;
      margin-bottom: 10px;
    }
  }