
h1 {
    font-weight: bold;
    font-size: 4rem;
    letter-spacing: 0.02em;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

   

#searchbar::after{
  content: "";
  display: table;
  clear: both;
}
   


/* SECTION #1
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  #top-banner {
    color: var(--text_light);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    margin-top: 50px;
    padding-top: 30px;
  }
  
  
  input {
    border: none;
    background: none;
    outline: none;
    font-size: 1.5rem;
    
  }
  
  #top-banner form input::placeholder {
    color: darkslategrey; 
  }

  .searchbar {
    float: left;
    height: 40px;
    border-bottom: 1px solid;
  }

  .searchbutton {
    float: left;
    margin-left: 10px;
  }



  @media screen and (max-width: 770px) {
    .searchbar{
      width: 100%;
    }
    .searchbutton{
      width: 100%;
      margin-top: 10px;
      margin-left: 0px;
    }
  }