<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<div class="wrapper">
<div class="container d-flex p-3 mx-auto w-100 flex-column">
<header class="mb-auto">
  <div class="logotextwrapper">
  
  <div class="float-md-start " id="headline">Weather App </div>
  </div>
  <nav class="nav navbar float-md-end">
    <a class="nav-link active"  routerLink="/home"> Home </a>
    <a class="nav-link active"  > Map </a>

    <div class="nav-link">
      <button class="btn" id="darkModeToggle" (click)="toggleDarkTheme()">
        <div id="toggleIcon" *ngIf="isLightTheme()"><i class="material-icons">light_mode</i> <div class="menutext">Light Mode</div></div>
        <div id="toggleIcon" *ngIf="!isLightTheme()"><i class="material-icons md-light">nights_stay</i><div class="menutext">Dark Mode</div></div>
      </button>
      
    </div>
  </nav>
</header>
</div>


</div>