
  
  /* SECTION #1
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .top-banner {
    color: var(--text_light);
  }
  
  .top-banner form {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .top-banner form input {
    font-size: 1.5rem;
    height: 40px;
    padding: 5px 5px 10px;
    border-bottom: 1px solid;
  }
  
  .top-banner form input::placeholder {
    color: grey; 
  }

  /* SECTION #2
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .top-content {
      margin-top: 0px;
      padding-top: 30px;
      padding-bottom: 20px;
  }



  /* SECTION #3
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

 #city {
     color: black;
     font-size: 3rem;
 }

 #date {
     color: black;
     font-size: 1.2rem;
 }

 .column {
    float: left;
    width: 50%;
    padding-top: 30px;
    padding-bottom: 30px;
}


img {
    width: 100%;
}

#temp {
    font-size: 2rem;
    font-weight: bold;
}

#left {
    border-right: 1px solid;
}

td {
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
}

#table1 td {
    width: 33%;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

#table1 {
    width: 100%;
    padding-left: 30%;
    margin-left: auto;
    margin-right: auto;
}

#data {
    font-size: 1.5rem;
    padding-top: 50px;
}

#datacol {
    padding-top: 10px;
}

#desccol {
    padding-bottom: 10px;
}

#lefttable {
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 770px) {
    .column {
        width: 100%;
    }
    #left {
        border-bottom: 1px solid;
        border-right: 0px;
    }
}

 /* SECTION #4
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

  .hourly-item {
    width: 10%;
    text-align: center;
}

.hourly img {
    width: 100%;
    
}

.hourly-table {
    display: block;
  overflow-x: scroll;
  margin-top: 30px;
  margin-bottom: 30px;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.hourly-table tbody {
    display: table;
    width: 100%;
}

.hourly-table td {
    width: 200px;
    align-content: center;
    text-align: center;
}

.hourly-table #pop {
    font-size: 0.6rem;
}

.hourly-table #tem {
    font-size: 1rem;
}

.wrapper {
    padding: 20px;
    width: 100px;
}

/* SECTION #5
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

  #forecast-header {
      font-size: 1.5rem;
      width: max-content;
      padding: 10px;
      padding-left: 20px;
      
  }

 

  .forecast table {
      width: 100%;
  }

  .forecast {
      width: 100%;
  }


  .forecast img {
    width: 80px;
    vertical-align: middle;
    margin: 0%;
    padding: 0;
  }

  #day {
      font-weight: bold;
      vertical-align: middle;
  }


  .forecast td {
      vertical-align: middle;
  }

  #bar {
      width: 30%;
      position: relative;
  }

  .minTemp {
      text-align: center;

  }

  .maxTemp {
      text-align: center;
    margin-left: 30%;
  }

 
  

.totalbar {
    width: 100%;
    height: 10px;
    background-color: lightgrey;
    border-radius: 10px;
    position: absolute;
    vertical-align: center;
}

.weatherbar {
    height: 10px;
    background-color: darkslategray;
    border-radius: 10px;
    vertical-align: tex;
    position: absolute;
    margin-bottom: 100px;
}

.dailyrow {
    height: 40px;
}