

<!-- <h1>Weather</h1>

<section class="top-banner">
<div class="container"  (keyup.enter)=APIRequest()>
   <div class="altert alert-warning" *ngIf="invalidCity">{{errorMessage}}</div> 

  <form>
    <input type="text"   name="username" [(ngModel)]="location" placeholder="Search by Location" autocomplete="off" >
    <button (click)=APIRequest()  class="btn btn-light" id="submit">SUBMIT</button>
  </form>  
</div>
</section> -->

<section class="top-content">
    <div class="container" id="city">
        {{weatherData.name}} , {{weatherData.sys.country}} <br>
    </div> 
    <div class="container" id="date">
        {{todays}}
    </div>
</section>


<section class="content">
<div class="row align-items-center">
    <div class="column" id="left">
        <table>
            <tr>
                <td>
                    <img src="http://openweathermap.org/img/wn/{{weatherData.weather[0].icon}}@2x.png">
                </td>
                <td>
                    <div id="temp">{{weatherData.main.temp}}° </div> 
                    {{weatherData.weather[0].description}}
                </td>
            </tr>
        </table>
    </div>
    <div class="column">
        <table id="table1">
            <tr id="data">
                <td id="datacol">{{weatherData.main.temp_max}}°</td>
                <td id="datacol">{{weatherData.wind.speed}}</td>
                <td id="datacol">{{sunrise}}</td>
            </tr>
            <tr id="description">
                <td id="desccol">High</td>
                <td id="desccol">Wind</td>
                <td id="desccol">Sunrise</td>
            </tr>
            <tr id="data">
                <td id="datacol">{{weatherData.main.temp_min}}°</td>
                <td id="datacol">{{weatherData.wind.speed}} %</td>
                <td id="datacol">{{sunset}}</td>
            </tr>
            <tr id="description">
                <td id="desccol">Low</td>
                <td id="desccol">Rain</td>
                <td id="desccol">Sunset</td>
            </tr>
        </table>
    </div>
  </div>
</section>


